/* * {
    
}

color: rgba(31, 29, 35, 1);



body {
    margin: 0;
    
}


hr {
    margin: 45px 0 15px 0;
    width: 95%;
} */

html {
    max-width: 1600px;
    background: rgba(31, 29, 35, 1);
    margin: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 300px) {

    .nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content: center;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        padding-left: 0.75em;
        text-decoration: none;

    }

    .main-image {
        width: 100%;
    }

    .home-main {
        width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .home-paragraph {
        width: 100%;
    }

    .home-p {
        width: 90%;
    }
}
@media (min-width: 649px) {

}
@media (min-width: 649px) {

}
@media (min-width: 1175px) {

}