/* * {
    
}





body {
    margin: 0;
    
}


hr {
    margin: 45px 0 15px 0;
    width: 95%;
} */

html {
    max-width: 1600px;
    background: rgba(31, 29, 35, 1);
    margin: 0;
}

a {
    text-decoration: none;
}

.white {
    color: #ffffff;
}

.cream {
    color: rgb(255,228,196);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 300px) {

    .nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content: center;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        padding-left: 0.75em;
        text-decoration: none;

    }

    .main-image {
        width: 100%;
    }

    .home-main {
        width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .home-paragraph {
        width: 100%;
    }

    .home-p {
        width: 90%;
    }

    .read-more {
        padding: 0.8em 1em;
        margin: 2em;
        background-color: rgb(255,228,196);
        border-width: 0px;
        border-style: none;
    }

    .line-bar-container {
        margin: 1.3em 0;
    }

    .foot {
        justify-content: center;
    }

    .follow {
        padding-right: 0.6em;
    }


    /* Litters Page */

    .our-dogs {
        font-size: 2em;
        padding-top: 1em;
    }

    .dog-img-container {
        width: 100%;
    }

    .dog-img {
        width: 100%;
    }

    .dog-details {
        width: 100%;
        padding: 2em 0;
    }

    .dog-detail-list {
        list-style: none;
        padding-inline-start: 0px;
        padding-left: 0.5em;
    }

    .details {

    }

    .category {
        padding-right: 0.5em;
    }

    body > main > section > section:nth-child(1) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 16px;
    }

    body > main > section > section:nth-child(2) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 16px;
    }
}



@media (min-width: 649px) {
    .nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        justify-content: flex-end;
        margin-right: 1em;
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        padding-left: 0.75em;
        text-decoration: none;
        font-size: 20px;

    }

    .main-image {
        width: 100%;
    }

    .welcome-h1 {
        font-size: 30px;
    }

    .home-main {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .home-paragraph {
        width: 100%;
    }

    .home-p {
        width: 90%;
    }

    .pfont-style {
        font-size: 20px;
    }

    .read-more {
        padding: 0.8em 1em;
        margin: 2em;
        background-color: rgb(255,228,196);
        border-width: 0px;
        border-style: none;
    }

    .line-bar-container {
        margin: 1.3em 0;
    }

    .foot {
        justify-content: center;
        align-items: center;
    }

    .follow {
        padding-right: 0.6em;
        font-size: 20px
    }

    .our-dogs {
        font-size: 2em;
        padding-top: 1em;
    }

    .dog-img-container {
        width: 100%;
    }

    .dog-img {
        width: 100%;
    }

    .dog-details {
        width: 100%;
        padding: 2em 0;
    }

    .dog-detail-list {
        list-style: none;
        padding-inline-start: 0px;
        padding-left: 0.5em;
    }

    .details {

    }

    .category {
        padding-right: 0.5em;
    }

    body > main > section > section:nth-child(1) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 24px;
    }

    body > main > section > section:nth-child(2) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 24px;
    }

}



@media (min-width: 750px) {
    .nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        justify-content: flex-end;
        margin-right: 1em;
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        padding-left: 0.75em;
        text-decoration: none;
        font-size: 20px;

    }

    .main-image {
        width: 100%;
    }

    .welcome-h1 {
        font-size: 36px;
    }

    .home-main {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .home-paragraph {
        width: 100%;
    }

    .home-p {
        width: 90%;
    }

    .pfont-style {
        font-size: 20px;
    }

    .read-more {
        padding: 0.8em 1em;
        margin: 2em;
        background-color: rgb(255,228,196);
        border-width: 0px;
        border-style: none;
    }

    .line-bar-container {
        margin: 1.3em 0;
    }

    .foot {
        justify-content: center;
        align-items: center;
    }

    .follow {
        padding-right: 0.6em;
        font-size: 20px
    }

    .our-dogs {
        font-size: 2.5em;
        padding-top: 1em;
    }

    .dog-img-container {
        width: 100%;
    }

    .dog-img {
        width: 100%;
    }

    .dog-details {
        width: 100%;
        padding: 2em 0;
    }

    .dog-detail-list {
        list-style: none;
        padding-inline-start: 0px;
        padding-left: 0.5em;
    }

    .details {

    }

    .category {
        padding-right: 0.5em;
        font-size: 20px;
    }

    body > main > section > section:nth-child(1) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 20px;
    }

    body > main > section > section:nth-child(2) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 20px;
    }
}



@media (min-width: 1175px) {
    .nav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        justify-content: flex-end;
        margin-right: 1em;
    }

    .nav-link {
        display: flex;
        flex-direction: row;
        padding-left: 0.75em;
        text-decoration: none;
        font-size: 24px;

    }

    .main-image {
        width: 100%;
    }

    .welcome-h1 {
        font-size: 48px;
    }

    .home-main {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .home-paragraph {
        width: 100%;
    }

    .home-p {
        width: 90%;
    }

    .pfont-style {
        font-size: 20px;
    }

    .read-more {
        padding: 0.8em 1em;
        margin: 2em;
        background-color: rgb(255,228,196);
        border-width: 0px;
        border-style: none;
    }

    .line-bar-container {
        margin: 1.3em 0;
    }

    .foot {
        justify-content: center;
        align-items: center;
    }

    .follow {
        padding-right: 0.6em;
        font-size: 24px
    }

    .our-dogs {
        font-size: 2.5em;
        padding-top: 1em;
    }

    .our-dogs-container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .dog-img-container {
        display: flex;
        width: 100%;
        max-height: 550px;
    }

    .dog-img {
        display: flex;
        width: 100%;
        height: 475px;
        /* object-fit: contain; */
    }

    .dog-details {
        width: 100%;
        padding: 2em 0;
        margin: 2em;
    }

    .dog-detail-list {
        list-style: none;
        padding-inline-start: 0px;
        padding-left: 0.5em;
    }

    .details {

    }

    .category {
        padding-right: 0.5em;
        font-size: 24px;
    }

    body > main > section > section:nth-child(1) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 24px;
    }

    body > main > section > section:nth-child(2) > ul > li > p:nth-child(2) {
        color: #b18879;
        font-size: 24px;
    }
}